// common
.clear-fix:before,.clear-fix:after
    display: table
    content: ""
    clear both

.float-left
    float: left

.float-right
    float: right 
// reset scrollbar
customer-bar($color = rgba(242,242,242,0),$height = 4px)
    &::-webkit-scrollbar{
        width: 6px;
        height: $height
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(242,242,242,0)
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color
        border-radius: 6px;
    }

    &::-webkit-scrollbar-button {
        background-color: #ddd;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        /*background-color: black;*/
    }