.nav-bar-box,.side-box
    a
        color #bebebe
    .active
        color: green

// side-box
.side-box
    position: fixed
    left 0
    top: 0

    li
        line-height: 80px

.container
    padding-left: 100px


.long-content
    line-height: 500px