$barWidth = 252px;
$headerHeight = 70px;
.container
    padding-left: $barWidth+28;
    padding-top: $headerHeight+20;
    // padding-left: "calc(100% - %s)" % 252px

.long-content
    line-height: 500px

// header-box
// .header-box
//     position: fixed
//     left: $barWidth
//     top: 0
//     width: "calc(100% - %s)" % $barWidth